contourpy==1.2.0
cycler==0.12.1
darkdetect==0.7.1
fonttools==4.44.0
gcoordinator==0.0.13
importlib-resources==6.1.1
kiwisolver==1.4.5
matplotlib==3.7.1
numpy==1.26.2
packaging==23.2
pillow==11.1.0
PyOpenGL==3.1.7
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.16
PyQt5-sip==12.13.0
pyqtdarktheme==2.1.0
pyqtgraph==0.13.2
python-dateutil==2.8.2
six==1.16.0
zipp==3.17.0
